<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>test</h1>
    {% for post in posts %}

    <p>{{post.title}}</p>
    {{post.content}}

    {% endfor %}
</body>
</html>


class Comment(models.Model):
    post = models.ForeignKey(Post ,on_delete=models.CASCADE,null= False)
    name = models.CharField(max_length=255)
    email = models.EmailField()
    subject = models.CharField(max_length=255)
    message = models.TextField()
    approved = models.BooleanField(default=False)
    created_date = models.DateTimeField(auto_now_add=True)
    updated_date = models.DateTimeField(auto_now=True)

    class Meta:
        ordering = ['-created_date']

    def __str__(self):
        return self.name


        if not post.login_require:
        comments = Comment.objects.filter(post= post.id, approved = True)
        form = CommentForm()
        context ={  'post': post,
                    'prev':prev_post,
                    'next':next_post,
                    'post_first':post_first,
                    'post_last':post_last,
                    'comments': comments,
                    'form': form
            
            }
        return render(request,"blog/blog-single.html",context)
    else:
        if request.user.is_authenticated:
            comments = Comment.objects.filter(post= post.id, approved = True)
            form = CommentForm()
            context ={  'post': post,
                    'prev':prev_post,
                    'next':next_post,
                    'post_first':post_first,
                    'post_last':post_last,
                    'comments': comments,
                    'form': form
            
            }
            return render(request,"blog/blog-single.html",context)
        else:
            return HttpResponseRedirect(reverse('accounts:login'))
        #return render(request,'accounts/login.html',context={'post_id' : post.id})
        
    


        {% block default_messages %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}
{% endblock default_messages %}